# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/inspectionProfiles/
.idea/logaid.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
build/
dist/
logaid.egg-info/